/*--------------#1e874b------------------*


/*---------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html,body {
    background-color: #fff;
    color: #555;
    font-weight: 300;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*---------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------*/
.row{
    max-width: 85%;
    margin: 0 auto;
}

section {
    padding: 30px 0; 
}

.box{
    box-shadow: 0 2px 20px #bebebe;
}

/*---------------------------------------*/
/* HEADINGS */
/*---------------------------------------*/


h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 108%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    color: #1e874b;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #1e874b;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*---------------------ICONS--------------------*/
.icon-big{
    font-size: 200%;
    display: block;
    margin-bottom: 10px;
    color: #1e874b;
}
/*---------------------paragraph----------------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    padding-left: 15%;
}

.box p{
    padding: 2%;
    font-size: 90%;
    line-height: 145%;
    margin-bottom: 20px;
}


/*---------------------------------------*/
/* BUTTONS */
/*---------------------------------------*/
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #2ecc71; 
    border: 1px solid #2ecc71;
    color: #fff;
    margin-right: 20px;

}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #1e874b;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 1px solid #2ecc71;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #2ecc71;
    color: #fff;
}

/*---------------------------------------*/
/* HEADER */
/*---------------------------------------*/
header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/header-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
/*---------------------------------------*/
/* LOGO DISPLAYs */
/*---------------------------------------*/
.hero-text-box {
    position: absolute;
    width: 1080px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
/*---------------------------------------*/
/* NAVIGATION - FEATURES */
/*---------------------------------------*/

.main-nav {
    float: right;
    color: #fff;
    margin-top: 55px;
}

.main-nav li{
    color: #fff;
    display: inline-block;
    margin-left: 40px;
    transition: background-color: 0.5s;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #2ecc71;
    color: #fff;
}

/*---------------------------------------*/
/* FEATURES*/
/*---------------------------------------*/

.section-features .long-copy{
    margin-bottom: 20px;
}

/*---------------------------------------*/
/* MEALS */
/*---------------------------------------*/
.section-meals{
    padding: 0;
}
.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    float: left;
    display: block;
    width: 25%;
    background-color: #000;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.meal-photo img{
    opacity: 0.6;
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.05);
}


/*---------------------------------------*/
/* HOW IT WORKS SECTIONS */
/*---------------------------------------*/

.section-meals{
    background-color: #e3e3e3;
}

.row_1{
    padding-top: 40px;
}

.steps-box:first-child {
    text-align: center;
    margin-top: 10px;
    
}

.steps-box:last-child {
   margin-top: 20px;
}

.app-screen {
    width: 40%;
    border-radius: 40px;
}


.works-step {
    margin-bottom: 30px;
}

.works-step div{
    color: #1e874b;
    border: 2px solid #1e874b;
    display: inline-block;
    border-radius: 60%;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 130%;
    margin-right: 15px;
}
.button-app:link,
.button-app:visited {
    border: 0;
}

.button-app img {
    margin-right: 10px;
    height: 40px;
    width: inherit;
}

/*---------------------------------------*/
/* CITIES SECTIONS */
/*---------------------------------------*/

.box img{
    width: 100%;
    height:auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.city-features{
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon-small{
    display: inline-block;
    text-align: center;
    font-size: 90%;
    color: #1e874b;
    width:30px;
    margin-right: 10px;
    
    line-height: 100%;
    vertical-align: middle;
    margin-top: -5px;
}

a:link,
a:visited {
    text-decoration: none;
    color: #1e874b;
    padding-bottom: 1px;
    border-bottom: 1px solid #1e874b;
    transition: background-color 0.2s, border 0.2s,color 0.2;
}

a:hover,
a:active {
    border-bottom: 1px solid transparent;
    color: #4025d3;
}

/*---------------------------------------*/
/* TESTIMONIAL SECTION */
/*---------------------------------------*/

.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(img/back-testimonial.jpg);
    background-size: cover;
    color: aliceblue;
    background-attachment: fixed;
}
blockquote:before{
    content: "\201C";
    display: block;
    font-size: 90px;
    position: absolute;
    top: 0;
    left: -7px;
    line-height: 40px;
}

blockquote{
    padding: 2%;
    font-style: italic;
    font-size: 25;
    line-height: 145%;
    position: relative;
    margin-top: 20px;
    
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block;
    padding-bottom: 50px;
}



cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
/*---------------------------------------*/
/*SECTION PLAN*/
/*---------------------------------------*/

.section-plan{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 10px;
    width: 85%;
    margin-left: 10%;    
    box-shadow: 0 2px 25px #d6d6d6;
}

.plan-box div{
    padding: 5px;
    border-bottom: 1px solid #dddddd;
}

.plan-price{
    padding: 15px;
    border-bottom: 1px solid #dddddd;
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #1e874b;
}
.plan-price:last-child{
    text-align: center;
    border: 0;
}

.plan-price:first-child{
    background-color: #e3e3e3;
    
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;    
}

.plan-price-meal{
    font-size: 80%;
    text-align: center;
}

.plan-box ul{
    list-style: none;
    
}

.plan-box ul li{
    padding 5px 0;
}

/*---------------------------------------*/
/*CONTACT FORM*/
/*---------------------------------------*/

.contact-form{
    width: 60%;
    margin: 0 auto;
}



input[type=text],input[type=email],select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

text-area{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{outline: inherit}

/*-------------------------
    footer
--------------------------*/

footer{
    background-color: #383838;
    padding: 40px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #959090;
    transition: color 0.4s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
    
}
.fa-facebook-square,
.fa-twitter-square,
.fa-instagram-square{
    transition: color 0.4s;
}


.social-links li a:link,
.social-links li a:visited{
    
}
.fa-facebook-square:hover{
    color: #3b5998;
    transform: scale(1.5);
}

.
.fa-twitter-square:hover{
    text-decoration-color: none;
    color: #2fc6ff;
    transform: scale(1.5);
}


.fa-instagram-square:hover{
    color: #f4f4f4;
    transform: scale(1.5);
}
footer p{
    padding: 20px 0;
    color: #888;
    text-align: center;
}
